<launch>

    <param name="robot_description" command="$(find xacro)/xacro.py '$(find mobile-robot)/urdf/mobile-robot.xacro'" /> 
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model mobile_robot -param robot_description"/> 

</launch>
